body {
  background-color: #000000;
}

a {
  color: #a0a0a0;
}

a:hover, a:active{
  color: #ffe21f;
}

#alpha {
  vertical-align: super;
  color: gray;
  font-size: 1rem;
}

h1.yellow a, h3.yellow a {
  color: #ffe21f!important;
}

.overlay-controls {
  .ui.checkbox .box, .ui.checkbox label {
    font-size: .8em;
  }
}

.display-legend {
  margin-bottom: .2em;
}

.ui.header.site-name {
  margin-top: 0;
  margin-bottom: 0.3em;
  padding: 0;
  float: left;

  a {
    color: white;
  }
}

.yellow-bar {
  width: 342px;
  height: 5px;
  background-color: #fcea40;

  @media only screen and (max-width: 767px) {
    width: 269px;
  }
}

.infobox {
  display: block;
  position: absolute !important;
  top: 10px;
  left: 10px;
  bottom: auto;
  width: 300px;
  padding: 10px !important;
  max-height: 90%;
  border-radius: 1rem !important;
}

.mapbox {
  top: 0px;
  bottom: 0;
  left: 0;
  right: 0;
  position: absolute;
}

@media only screen and (min-width: 768px) {
  .infobox {
    width: 370px;
  }
}

.details-pane{
  a {
    color: #838383;
  }

  a:hover, a:active {
    color: #d2b91f;
  }

  .delay-info {
    color: #db2828;
  }

  .transfers .others {
    cursor: default !important;
  }

  .details-body {
    padding: 0 14px 14px 14px;

    .ui.raised.segment {
      .ui.yellow.top.attached.label {
        color: black !important;
      }
    }
  }
}

@media only screen and (max-width: 767px) {
  .inner-infobox {
    overflow-y: hidden;
    overflow-x: hidden;
    width: 280px;
    max-height: 38px;

    &.open {
      overflow-y: scroll;
      max-height: 60vh;
    }
  }

  .selection-pane .ui.secondary.pointing.menu .item {
    padding-left: .7em;
    padding-right: .7em;
  }
}

@media only screen and (min-width: 768px) {
  .inner-infobox {
    overflow-y: scroll;
    overflow-x: hidden;
    width: 350px;
    max-height: 75vh;
  }
}

.route {
  width: 2em;
  height: 2em;
  font-size: 2em;
  line-height: 2em;
  text-align: center;
  font-weight: bold;
  color: #fff;
  margin: .25em;
  display: inline-block;

  &.medium {
    height: 1.75em;
    width: 1.75em;
    font-size: 1.75em;
    line-height: 1.75em;
  }

  &.small {
    height: 1.5em;
    width: 1.5em;
    font-size: 1em;
    line-height: 1.5em;
  }
}

.bullet {
  -webkit-border-radius: 999px;
  -moz-border-radius: 999px;
  border-radius: 999px;

  &.downtown-only {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    height: 0.8em;
    line-height: 0.1em;
  }

  &.uptown-only {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    height: 0.8em;
  }
}

.diamond {
  transform:rotate(45deg);
  -ms-transform:rotate(45deg);
  -webkit-transform:rotate(45deg);
}

.diamond-inner {
  transform:rotate(-45deg);
  -ms-transform:rotate(-45deg);
  -webkit-transform:rotate(-45deg);
}

.branch-corner {
  overflow: hidden;
  min-width: 60px;
  display: inline-block;
  margin: 0;
}

.branch-start {
  height: calc(100% - 35px);
  width: 30px;
  border-top-right-radius: 50%;
  display: block;
}

.branch-end {
  height: 100%;
  width: 30px;
  border-bottom-right-radius: 50%;
  display: block;
}

.train-details-header {
  display: flex;
  align-items: center;
  justify-content: space-between;

  .status {
    display: flex;
    flex-direction: column;
    align-items: flex-end;

    h6 {
      margin-top: 0;
    }
  }

  .route {
    display: inline-block;
    margin-left: 3px;

    &.diamond {
      margin-top: .5em;
    }
  }
}

.station-list-item {
  min-height: 28px;

  h5 {
    line-height: 28px!important;
  }

  .left.floated.content {
    margin-right: .25em;
  }

  .secondary-name {
    font-size: 0.9em;
    line-height: 29px!important;
  }

  .accessibility-icon {
    line-height: 29px!important;
  }
}

.station-search {
  width: 100%;

  input {
    border-top: 0;
    border-left: 0;
    border-right: 0;
    height: 41px;
  }
}

.mobile-pane-control {
  position: absolute;
  top: 60px;
  left: 240px;
  z-index: 1;
}

.ui.segment.mobile-top-bar {
  width: 270px;
  padding-top: 10px
}

.ui.segment.selection-pane {
  padding-top: 0;
  min-height: 50px;
}

@media only screen and (max-width: 767px) {
  .ui.segment.selection-pane {
    width: 270px;
  }
}

.ui.segment.details-pane {
  padding: 0;
}

@media only screen and (max-width: 767px) {
  .ui.segment.details-pane {
    width: 270px;
  }
}

.mobile-details-header {
  display: flex;
  height: 36px;
  margin-bottom: 14px;
  align-items: center;
  width: 228px;

  &.mobile-train-details-header {
    margin-bottom: 0;
  }

  .ui.button {
    margin: 0 0.25em 0 0;
  }
}

.mobile-goodservice {
  text-align: right;
  margin: 0 4em 0.5em 0;
  line-height: 1.5em;
}

.station-details-route-status {
  text-align: right;
  max-width: 70%;

  div {
    margin-left: auto;

    span {
      display: inline-block;
    }
  }
}

.station-details-train-arrival-estimation {
  white-space: nowrap;
}

.header-secondary-name {
  color: rgba(0,0,0,.4);
}

.ui.header.header-station-name {
  margin: calc(2rem - .14285714em) 0 .2rem;
}

h5 .header-secondary-name {
  font-weight: 300!important;
  display: block;
}

h5 .station-list-secondary-name {
  color: rgba(0,0,0,.4);
  font-weight: 300!important;
  margin-left: .4rem;
  font-size: 0.9em;
}

h4.ui.top.attached.header.advisories-header {
  border-radius: 0;
  padding-left: 0.5em;
  padding-right: 0.5em;
}

@media only screen and (max-width: 767px) {
  .ui.secondary.pointing.menu .item {
    padding: .85714286em 1em;
  }
}

.infobox .inner-infobox .ui.toggle.checkbox input:checked~.box:before, .ui.toggle.checkbox input:checked~label:before, .infobox .inner-infobox .ui.toggle.checkbox input:focus:checked~.box:before, .ui.toggle.checkbox input:focus:checked~label:before {
  background-color: #666666!important;
}

.infobox .inner-infobox .ui.toggle.checkbox.delay input:checked~.box:before, .ui.toggle.checkbox.delay input:checked~label:before, .infobox .inner-infobox .ui.toggle.checkbox.delay input:focus:checked~.box:before, .ui.toggle.checkbox.delay input:focus:checked~label:before {
  background-color: #ff8093!important;
}


.infobox .inner-infobox .ui.toggle.checkbox.slow input:checked~.box:before, .ui.toggle.checkbox.slow input:checked~label:before, .infobox .inner-infobox .ui.toggle.checkbox.slow input:focus:checked~.box:before, .ui.toggle.checkbox.slow input:focus:checked~label:before {
  background-color: #fbfb08!important;
}


.infobox .inner-infobox .ui.toggle.checkbox.long-headway input:checked~.box:before, .ui.toggle.checkbox.long-headway input:checked~label:before, .infobox .inner-infobox.long-headway .ui.toggle.checkbox input:focus:checked~.box:before, .ui.toggle.checkbox.long-headway input:focus:checked~label:before {
  background-color: #dddddd!important;
}
.chevrons {
  margin-left: 27px;
  margin-bottom: 3px;
 
 .chevron::before {
    border-style: solid;
    border-width: 0.25em 0.25em 0 0;
    content: '';
    display: inline-block;
    height: 15px;
    left: 0.15em;
    position: relative;
    top: 0.15em;
    transform: rotate(135deg);
    vertical-align: top;
    width: 15px;
    top: 0;
  } 
}

.trip-bullet {
  .route {
    margin: 10px 0 0 8px;

    &.diamond {
      margin-bottom: 10px;
    }
  }
}

.ui.list.stop-times {
  .item .content {
    &.bullet-container {
      margin-right: 0;
    }

    &.alternate-name {
      line-height: 2em;
      margin: 0;
    }
  }
}

.ui.list.train-list {
  .item .content {
    &.bullet-container {
      margin-right: 0.3em;
    }

    &.alternate-name {
      line-height: 2em;
    }
  }

  @media only screen and (max-width: 767px) {
    display: none;
  }
}

.ui.list.train-list {
  .item .content {
    &.bullet-container {
      margin-right: 0.3em;
    }

    &.alternate-name {
      line-height: 2em;
    }
  }

  @media only screen and (max-width: 767px) {
    display: none;
  }
}

.ui.grid.mobile-train-grid {
  max-width: 100%;
  margin-left: -.5rem;

  i {
    position: absolute;
    left: auto;
    top: auto;
    bottom: .1rem;
    right: 0;
  }

  @media only screen and (min-width: 768px) {
    display: none;
  }
}


.accessible-icon {
  margin-left: .2em;

  .accessible.icon:only-child {
    margin-right: .2em;
    width: auto;
  }
}

.elevator-outages {
  h5 {
    margin-top: 0.5em;
    margin-bottom: 0;
  }
}

.train-map {
  list-style-type: none;
  text-align: left;
  padding: 0;
  margin-bottom: '.5em';
  margin-top: 0;
  margin-right: 0;

  @media only screen and (min-width: 768px) {
    margin-left: 20px;
  }

  .station-name {
    display: inline;
    margin: auto 0;
    cursor: pointer;

    .secondary-name {
      font-weight: normal;
      font-size: 12px;
      margin: 0 .5em;
    }
  }

  .train-map-stop {
    .transfers {
      display: inline-block;
      margin: auto 0;

      .ui.label{
        padding: .3em .5em;
        white-space: nowrap;

        .icon {
          margin-right: .3em;
        }

        &.blue {
          background-color: #2596be !important;
          border-color: #2596be !important;
        }

        &:first-child {
          margin-left: .5em;
        }
      }
    }
  }
}

.trip-map {
  list-style-type: none;
  text-align: left;
  margin: auto;
  padding: 0;
  margin-bottom: .5em;

  .station-name {
    display: inline;
    margin: auto 0;
    cursor: pointer;

    .secondary-name {
      font-weight: normal;
      font-size: 12px;
      margin: 0 .5em;
    }
  }
}