#alpha {
  vertical-align: super;
  color: gray;
  font-size: 1rem;
}

.infobox {
  display: block;
  position: absolute !important;
  top: 10px;
  left: 10px;
  bottom: auto;
  width: 370px;
  padding: 10px !important;
  max-height: 90%;
  border-radius: 1rem !important;
}

.inner-infobox {
  overflow-y: hidden;
  overflow-x: hidden;
  width: 350px;
  max-height: 60px;
}

@media only screen and (min-width: 768px) {
  .inner-infobox {
    overflow-y: auto;
    overflow-x: hidden;
    width: 350px;
    max-height: 88vh;
  }
}

.route {
  width: 2em;
  height: 2em;
  font-size: 2em;
  line-height: 2em;
  text-align: center;
  font-weight: bold;
  color: #fff;
  margin: .25em;

  &.medium {
    height: 1.75em;
    width: 1.75em;
    font-size: 1.75em;
    line-height: 1.75em;
  }

  &.small {
    height: 1.5em;
    width: 1.5em;
    font-size: 1em;
    line-height: 1.5em;
    display: inline-block;
  }
}

.bullet {
  -webkit-border-radius: 999px;
  -moz-border-radius: 999px;
  border-radius: 999px;
}

.diamond {
  transform:rotate(45deg);
  -ms-transform:rotate(45deg);
  -webkit-transform:rotate(45deg);
}

.diamond-inner {
  transform:rotate(-45deg);
  -ms-transform:rotate(-45deg);
  -webkit-transform:rotate(-45deg);
}

.branch-corner {
  overflow: hidden;
  width: 40px;
  display: inline-block;
}

.branch-start {
  height: 35px;
  width: 30px;
  border-top-right-radius: 50%;
  display: block;
}

.branch-end {
  height: 100%;
  width: 30px;
  border-bottom-right-radius: 50%;
  display: block;
}

.train-details-header {
  display: flex;
  align-items: center;
  justify-content: space-between;

  .status {
    display: flex;
    flex-direction: column;
    align-items: flex-end;

    h6 {
      margin-top: 0;
    }
  }
}

.station-list-item {
  min-height: 28px;
}